@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body{
    background: #1A4341;
    display: flex;
    font-family: 'Poppins', sans-serif;
  }
  a {
    color: #F3AC3C;
    text-decoration: none;
  }
  a:hover {
    cursor: pointer;
    color: #efefef;
  }
